@page "/"
@layout Layout.BaseLayout
@inject BaseItem BaseItem
@rendermode InteractiveServer

<div class="fej">
    <a href="/home" class="kezdogomb" target="_blank">Kezdőlap</a>
</div>


<div class="kep">
</div>

<footer>Csak egy kör!</footer>
@code {


}